.body_plano_de_fundo {
    background-image: url("https://i.postimg.cc/63cjmfvH/bg1.jpg");
    background-position: center;
    background-size: cover;
}

h1 {
    color: red;
    font-size: 20px;
}

#meu_canvas {
    border-width: 10px;
    background-color: white;
    border-style: ridge;
}

span {
    font-size: 20px;
}
body {
    cursor: pointer;
}
button {
    background-color: black;
    border: none;
    color: yellow;
    font-size: 16px;
    padding: 10px 42px;
}
input {
    margin-right: 20px;
}